datasets/__pycache__/__init__.cpython-312.pyc
datasets/__pycache__/FrontViewDataset.cpython-312.pyc
datasets/__pycache__/threeViewsDataset.cpython-312.pyc
.ipynb_checkpoints/Models_Evaluation-checkpoint.ipynb
runs/mobilenetv2_120d_001/events.out.tfevents.1720056143.COSTA-MACBOOK.21608.0
runs/mobilenetv2_120d_001/events.out.tfevents.1720056200.COSTA-MACBOOK.29152.0
runs/mobilenetv2_120d_001/model_epoch_6.pth
runs/mobilenetv2_120d_001/model_epoch_10.pth
runs/resnet50_001/events.out.tfevents.1720021991.COSTA-MACBOOK.26160.0
runs/resnet50_001/model_epoch_16.pth
runs/resnet50_001/model_epoch_21.pth
runs/resnet50_001/model_epoch_26.pth
runs/resnet50_002/events.out.tfevents.1720028752.COSTA-MACBOOK.3852.0
runs/resnet50_002/model_epoch_15.pth
runs/resnet50_003/events.out.tfevents.1720035510.COSTA-MACBOOK.29692.0
runs/resnet50_003/model_epoch_16.pth
runs/resnet50_003/model_epoch_19.pth
runs/~$details-runs.xlsx
__pycache__/options.cpython-312.pyc
